.div{
	background-color: red;
}


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: black; 
  width: 80%;
  height: 500px;}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* The element to apply the animation to */
div {
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

div {
    width: 100px;
    transition: width 2s;
}

div:hover {
    width: 300px;
}